*{
    margin: 0;
    padding: 0;
    font-family:'Inter', sans-serif;
    text-decoration: none;
}
ul{
    list-style: none;
}

html, body{
    background-color: rgb(59, 59, 59);
}

aside{
    width:  100%;
    height: 70px;
    background-color: #121212;
    display: flex;
    flex-direction: row;
    gap: 10px;
    flex-wrap: wrap;
    justify-content: space-around;

}

aside #logo img{
    width: 50px;
    height: 50px;
    margin:10px;
}

aside nav ul{
    display: flex;
    position: relative;
    float: left;
    width: auto;
    height: 70px;
}

aside nav ul li{
    width: 70px;
    height: 70px;
    background: #121212;  
}


aside nav ul li:hover , .active{
    width: 70px;
    height: 67px;
    background: #191919;
    border-bottom: solid 3px #edea1a;
}


aside nav ul li svg{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: 10px;
}

.top-bar{
    width: 100%;
    height: 40px;
}

.top-bar .bnt-new-client{
    padding: 6px;
    margin: 10px;
    float: right;
    margin-right: 50px;
    position: relative;
    color: #fff;
    background-color: #06c951;
    border: none;
    border-radius: 5px;
}

.bnt-new-client:hover{
    background-color: #049e3f;

}


main{
    
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 40px;

}

main .coluns{
    width: 400px;
    height: 400px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65);
    border-radius: 8px;
}

/*pagina clientes*/
#client-list{
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
}

#client-list a{
    color: #191919;
}


#client-list #cliente{
    width: 200px;
    height: 300px;
    background-color: #fff;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65);

}

#client-list #cliente p{
    padding: 10px;
    text-align: center;
}



#client-list #cliente img{
    width: 180px;
    height: 180px;
    margin: 10px;

}




/*pagina do cliente*/

#client-view{
    width: 80%;
    height: 80%;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65);
    border-radius: 8px;
    padding: 30px;
}

#client-view form{
    max-width: 900px;
    margin: auto;
    text-align: left;
    display: flex;
    flex-direction: row;
    gap: 30px;
    flex-wrap: wrap;
    justify-content:right;
    align-items:flex-end;
}

.form-view-line{
    width: 400px;
    height: 30px;
    padding: 5px;
}



#update-client input{
    height: 20px;
    border-radius: 5px;
    border: solid 1px #ccc;
    width: 90%;
    text-align: left;
    padding: 5px;
}
#update-client select{
    height: 30px;
    border-radius: 5px;
    border: solid 1px #ccc;
    width:90%;
    text-align: left;
    padding: 5px;
}

#update-client input[type="checkbox"]{
    border-radius: 5px;
    border: solid 1px #ccc;
    float: right;
    position:relative;
    margin-top: -20px;

}

#update-client button[type='submit']{
    width: 60px;
    height: 40px;
    padding: 5px;
    text-align: center;
    float: right;
    margin-right: 6%;
    background-color: #06c951;
    border: none;
    color: #fff;
    border-radius: 5px;

}

#update-client button:hover[type='submit']{
    background-color: #049e3f;




}




/*pagina sistemas*/

.coluns{
    width: 400px;
    height: 400px;
    
}

.backups-coluns{
    width: 100%;
    height: 100%;
    color: #121212;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}


/*pagina de backups*/

.backup-list{
    max-width: 800px;
    width: 100%;
    min-height: 300px;
    display:flex;
    flex-direction:column;
    gap: 10px;
    background-color: #fff;
    -webkit-box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65); 
    box-shadow: 0px 0px 13px -1px rgba(0,0,0,0.65);
    border-radius: 8px;
    padding: 30px;
    flex-wrap: wrap;
    justify-content: start;
}

.backups-list .backups{
    width: calc(100% - 40px);
    padding: 20px;
    background-color: #191919;
    height: 30px;
}

.backups svg{
    width: 30px;
    height: 30px;
    float: left;
    position: relative;
}

.backups a{
    color: #121212;
    text-align: left;
    font-weight: bold;
    margin: auto;
    width: 200px;
    height: 60px;
    font-size: 24px;
}

.backups button{
    width: 100px;
    height: 40px;
    padding: 5px;
    text-align: center;
    float: right;
    margin-right: 6%;
    background-color: #06c951;
    border: none;
    color: #fff;
    border-radius: 5px;
}

.backups button:hover{
    background-color: #049e3f;
}